<div fullscreen>
  <md-toolbar color="primary">
  <span>
    <button md-mini-fab color="primary" class="icon-button">
      <md-icon (click)="sidenav.toggle()">
        menu
      </md-icon>
    </button>
    <span>
      Home Automation
    </span>
  </span>
  <span class="spacer"></span>
  <span>
    <button md-button [mdMenuTriggerFor]="menu">
      <md-icon>
        person
      </md-icon>
      <span>
        {{username}}
      </span>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item routerLink="/settings">
        <span>
          Settings
        </span>
      </button>
      <button md-menu-item (click)="logout()" routerLink="/">
        <span>
          Logout
        </span>
      </button>
    </md-menu>
  </span>
  </md-toolbar>
  <md-sidenav-container>
    <md-sidenav #sidenav mode="side" opened="true" *ngIf="loggedIn()" class="md-sidenav-side md-sidenav-opened">
      <div *ngFor="let item of items">
        <div *ngIf="item.isGroup()" class="sidenav-group">
          <span>{{item.title}}</span>
          <md-divider></md-divider>
          <div *ngFor="let child of item.children" class="sidenav-item">
            <button md-button routerLink="{{child.ref}}">
              <md-icon>{{child.icon}}</md-icon>
              {{child.title}}
            </button>
          </div>
          <md-divider></md-divider>
        </div>

        <div *ngIf="!item.isGroup()" class="sidenav-item">
          <button md-button routerLink="{{item.ref}}">
            <md-icon>{{item.icon}}</md-icon>
            {{item.title}}
          </button>
        </div>
      </div>
    </md-sidenav>
    <div class="md-sidenav-content">
      <router-outlet>
      </router-outlet>
    </div>
  </md-sidenav-container>
</div>
