extends layout

block content
  h1 Welcome to #{title} #{content.username}
  h5 Sockets
    div(class='row')
      each socket in params.sockets
        div(class='col s4')
          div(class='card')
            div(class='card-content')
              span(class='card-title') #{socket.name}
              p Code: #{socket.numbering}
              p Last modified: today