doctype html
html()
    head
        title= title

        link(rel='stylesheet' href='./stylesheets/angular-material.css')
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")

        link(rel="stylesheet" href='./stylesheets/style.css')

        script(src='./lib/angular.min.js')
        script(src='./lib/angular-animate.js')
        script(src='./lib/angular-aria.js')
        script(src='./lib/angular-messages.js')
        script(src='./lib/angular-material.js')

        // My scripts
        script(src='./menu/menu.module.js')

        script(src='home-automation.module.js')

        script(src='./menu/menu.component.js')

    body(ng-app='homeAutomation')
        div(ng-cloak)
            section( layout="row" flex)
                md-sidenav(class="md-sidenav-left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4")
                    md-content(ng-controller="MenuController")
                        md-toolbar(class='md-hue-2 md-toolbar-tools')
                            h1
                                span Home Automation
                            span(flex)
                            md-button(class="md-icon-button" aria-label="Settings" ng-click='close()')
                                md-icon(md-font-icon="material-icons") menu
                        ul(class="side-menu")
                            li(ng-repeat='section in sections' class="parent-list-item")
                                h2(class="md-subhead menu-heading" ng-if='section.type === "heading"') {{section.name}}
                                menu-link(section="section" ng-if='section.type === "link"')
                                menu-toggle(section="section" ng-if='section.type === "toggle"')

                div
                    md-content(ng-controller="MainController" flex layout-padding)
                        div(layout-align="top center")
                            md-list(flex)
                                md-subheader(class='md-no-sticky') There are {{tasks.length}} tasks.
                                md-list-item(class='md-1-line' ng-repeat='task in tasks' ng-click='toggleTask(task)')
                                    p {{task.name}}
                                    md-checkbox(class='md-secondary'  ng-model='task.done' aria-label='Toggle {{task.name}}')