doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(id='ribbon')
      a(href='/') Dashboard
      a(href='/storage') Storage
      a(href='/settings') Settings
    block content
    block footer
