extends layout

block content
  h1 Settings
  p Add an user
  form(name = "login", method = "post")
    div.input
      span.label Username
      input(type = "text", name = "username")
    div.input
      span.label Password
      input(type = "password", name = "password")
    div.input
      span.label Repeat Password
      input(type = "password", name = "password_repeat")
    button(name = "submit", type = "submit", value = "Submit") Submit