<div>
  <md-card>
    <md-card-title>
      Task List
    </md-card-title>
    <form>
      <table>
        <tr *ngFor="let task of tasks; let i = index" (click)="toggleTask(i)">
          <md-checkbox [checked]="task.done" [style.text-decoration]="task.done ? 'line-through' : ''">{{ task.name }}</md-checkbox>
        </tr>
        <tr>
          <td>
            <md-input-container>
              <input mdInput [(ngModel)]="newTask.name" (keyup.enter)="addNewTask()" name="newTask.name" placeholder="Add new task">
            </md-input-container>
          </td>
          <td>
            <button md-button (click)="addNewTask()"><md-icon>add</md-icon></button>
          </td>
        </tr>
      </table>
    </form>
  </md-card>
</div>
