<div>
  <md-card>
    <md-card-header>
      <md-card-title>
        Task List
      </md-card-title>
      <md-card-subtitle>
        There are {{(tasks | tasksDone)?.length}} open tasks
      </md-card-subtitle>
    </md-card-header>
    <md-divider></md-divider>
    <md-card-content>
      <md-list>
        <md-list-item *ngFor="let task of tasks; let i = index" (click)="toggleTask(i)">
          <md-checkbox [checked]="task.done" [style.text-decoration]="task.done ? 'line-through' : ''">{{ task.name }}</md-checkbox>
        </md-list-item>
      </md-list>
    </md-card-content>
    <md-divider></md-divider>
    <md-card-actions>
      <button md-button (click)="addNewTask()">
        ADD
      </button>
      <button md-button (click)="cleanTasks()">
        CLEAN
      </button>
    </md-card-actions>
  </md-card>
</div>
