<h1>Login</h1>
<form>
  <table>
    <tr>
      <md-input-container>
        <input mdInput [(ngModel)]="username" name="username" placeholder="User">
      </md-input-container>
    </tr>
    <tr>
      <md-input-container>
        <input mdInput [(ngModel)]="password" name="password" type="password" placeholder="Password">
      </md-input-container>
    </tr>
    <tr *ngIf="loginFailed">
      <p color="warn">Username or password wrong.</p>
    </tr>
  </table>

  <button md-raised-button (click)="loginAttempt()">LOGIN</button>
</form>
